@using HotelSystem.MVC.Models.Reservation
@model ReservationViewModel

<h2>Изтрий резервация</h2>
<p>Сигурен ли си че искаш да изтриеш резервацията в <strong>@Model.HotelName - @Model.TotalPrice лв.</strong>?</p>

<form asp-action="Delete" asp-route-id="@Model.ReservationId" method="post">
    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>